.counter{
  height: 640px;
  text-align: center;
}
.dark{
  background-color: black;
color: white;
}
button{
  font-size: 20px;
  padding: 5px;
  margin: 0px 5px;
  box-shadow: 2px 2px 6px rgb(95, 94, 94);
}